html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section {
  max-width: 600px;
  margin: 0 auto;
}

.section .preview {
  background-image: url(../img/fon.png);
  background-repeat: no-repeat;
  height: 823px;
  background-position: center center;
}

.section .preview__logo {
  padding-top: 27px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 90.57px;
}

.section .preview__sublogo {
  padding-top: 168.43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 193px;
  height: 67px;
}

.section .preview__txt {
  margin-top: 36px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section .preview__but {
  background: none;
  margin: 0 auto;
  display: block;
  margin-top: 21px;
  cursor: pointer;
  border: 1px solid #ffffff;
  padding: 17px 36px 12px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section .preview__but:active {
  border: 1px solid #f80404;
  color: #f80404;
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/helvetica_bold.ttf);
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/helvetica_light.ttf);
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/helvetica_regular.ttf);
}

.info {
  margin-top: 40px;
}

.info__txt {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (max-width: 840px) {
  .info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.order__title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #242322;
}

.order__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 840px) {
  .order__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.order__item-name {
  margin-top: 10px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #242322;
}

.order__item-info {
  margin-top: 16px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #5a5a5a;
}

.order__item-price {
  margin-top: 18px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #242322;
}

.order__item-btn {
  margin: 0 auto;
  display: block;
  background: none;
  margin-top: 12px;
  display: block;
  border: 1px solid #32120d;
  padding: 11px 33px 8px 34px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #32120d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.order__item-btn:active {
  border: 1px solid #f80404;
  color: #f80404;
}

.order__btn {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  padding: 17px 39px 12px 40px;
  background: #32120d;
  border: 1px solid #32120d;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.order__btn:active {
  border: 1px solid #f80404;
  color: #f80404;
}

.line {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 1px;
  background: #dcdcdc;
}

@media screen and (max-width: 840px) {
  .order__item-name {
    display: none;
  }
  .order__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order__list img {
    margin-bottom: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .order__list img:first {
    margin-top: 0;
  }
  .order__title {
    margin-right: auto;
    margin-left: auto;
    width: 360px;
  }
}

.icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.icon {
  margin-right: 32.5px;
  width: 25px;
  height: 25px;
}

.icon:first-child {
  margin-right: 38.94px;
  width: 10.23px;
  height: 22px;
}

.icon:last-child {
  margin-right: 0px;
  width: 26.67px;
  height: 15px;
}

.txt {
  margin-bottom: 20px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #32120d;
}

.txt:last-child {
  margin-bottom: 28px;
}

.footer {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #beb1ae;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #beb1ae;
}

.link a {
  color: #beb1ae;
  margin-right: 55px;
}

.link a:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */