@font-face {
    font-family: "Helvetica";
    src: url(../fonts/helvetica_bold.ttf);
}
@font-face {
    font-family:"Helvetica" ;
    src: url(../fonts/helvetica_light.ttf);
}
@font-face {
    font-family:"Helvetica" ;
    src: url(../fonts/helvetica_regular.ttf);
}