.icons__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.icon {
  margin-right: 32.5px;
  width: 25px;
  height: 25px;
}

.icon:first-child {
  margin-right: 38.94px;
  width: 10.23px;
  height: 22px;
}

.icon:last-child {
  margin-right: 0px;
  width: 26.67px;
  height: 15px;
}

.txt {
  margin-bottom: 20px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #32120d;
}
.txt:last-child {
  margin-bottom: 28px;
}

.footer {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #beb1ae;
}

.link {
  display: flex;
  justify-content: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: none;
  color: #beb1ae;

  a {
    color: #beb1ae;
    margin-right: 55px;
  }

  a:last-child{
    margin-right: 0;
  }
}
